<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Incidencia je de motores</title>
</head>
<body class="bg-gray-200">
    <!-- Barra superior -->
    <div class="bg-gray-800 p-4 flex justify-between items-center">
        <a href="{% url 'historial_incidencias' %}" class="text-white bg-red-500 px-4 py-2 rounded ml-auto">
            Volver
        </a>
    </div>

    <!-- Contenido principal -->
    <div class="container mx-auto p-4">
        <div class="bg-gray-300 p-4 rounded relative">
            <!-- Botón de eliminar incidencia -->
            <form method="post" action="{% url 'incidencia_JM' id=incidencia.id %}" class="absolute top-4 right-4">
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded" onclick="return confirm('¿Estás seguro de que deseas eliminar esta incidencia?');">
                    Eliminar
                </button>
            </form>
            
            <!-- Sección de mensajes de error -->
            {% if messages %}
                <div class="mb-4 text-center">
                    {% for message in messages %}
                        <div class="bg-red-500 text-white p-2 mb-2">
                            <strong>Error:</strong> {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="flex items-center mt-4 mb-10 ml-14">
                <h1 class="text-2xl font-bold">Incidencia {{ incidencia.id }}</h1>
                {% if not incidencia.estado %}
                    <span class="ml-8 text-xl">Estado: En proceso </span>
                {% else %}
                    <span class="ml-8 text-xl">Estado: Finalizada </span>
                {% endif %}
            </div>
            <div class="mb-4">
                <h2 class="text-xl font-semibold">Mecánicos asignados:</h2>
                <div class="flex flex-wrap">
                    {% for mecanico in mecanicos %}
                    {% if mecanico in mecanicos_asignados %}
                        <div class="bg-gray-400 shadow-md rounded-lg p-4 m-2 w-60">
                            <p class="font-semibold">{{ mecanico.nombre }}</p>
                            <p class="text-gray-600">{{ mecanico.rut }}</p>
                            {% for item in progresos_por_mecanico %}
                            {% with rut=item.0 cantidad=item.1 %}
                                {% if rut == mecanico.rut %}
                                    <p class="text-gray-600">Progresos: {{ cantidad }}</p>                              
                                {% endif %}
                                {% endwith %}
                            {% endfor %}
                            
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="flex justify-between mr-14">
                <div>
                    <p><strong>Fecha de Inicio:</strong> {{ incidencia.fecha_inicio|date:"d-m-Y H:i" }}</p>
                    <p><strong>Fecha de Termino:</strong> {{ incidencia.fecha_termino|date:"d-m-Y H:i" }}</p>
                </div>
                <div>
                    <p><strong>Motor:</strong> {{ motor.n_serie }}</p>
                    <p><strong>Tipo:</strong> {{ incidencia.tipo_incidencia }}</p>
                </div>
            </div>
            <p><strong>Descripción problema:</strong></p>
            <div class="w-full p-2 mt-2 mb-4 rounded bg-gray-200">
                {{ incidencia.descripcion }}
            </div>
        </div>

        <!-- Sección para mostrar los progresos -->
        <div class="bg-gray-300 p-4 rounded mt-6">
            <h2 class="text-xl font-bold py-3">Progresos:</h2>
            {% for progreso in progresos %}
                {% if progreso.incidencia == incidencia.id %}
                    {% for mec in mecanicos %}
                        {% if mec.rut == progreso.mecanico %}
                            <div class="mb-6"> <!-- Añadido para separar los progresos -->
                                <p><strong>{{ mec.nombre }}</strong></p>
                                <div class="bg-gray-200 p-4 mt-2 rounded shadow">
                                    <p><strong>Fecha de Progreso:</strong> {{ progreso.fecha_progreso|date:"d-m-Y H:i" }}</p>
                                    <p><strong>Descripción:</strong> {{ progreso.descripcion }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% empty %}
                <p>No hay progresos registrados para esta incidencia.</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
