<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Ingresa a tu cuenta</title>
</head>

<body class="bg-gray-100 h-screen flex flex-col">

    <!-- Barra superior -->
    <div class="bg-gray-300 p-4 flex justify-between items-center fixed top-0 left-0 w-full z-10">
        <a href="{% url 'index' %}"
            class="text-white bg-red-500 px-4 py-2 rounded shadow-md hover:bg-red-600 transition duration-300">
            Volver
        </a>
    </div>

    <div class="flex-grow flex items-center justify-center">
        <!-- Contenido principal -->
        <div class="bg-gray-300 p-8 rounded-lg shadow-lg w-full max-w-md">

            <h1 class="text-3xl font-bold text-center mb-6">Ingresa a tu cuenta</h1>

            {% if messages %}
            <div class="mb-4 text-center">
                {% for message in messages %}
                <div class="bg-red-500 text-white p-2 mb-2">
                    <strong>Error:</strong> {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <form method="POST" action="{% url 'ingresar_cuenta_JM' %}" class="space-y-4">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label for="rut" class="mb-2 font-medium text-lg">Rut</label>
                    <input type="text" name="rut" id="rut" class="p-2 rounded border border-gray-300 text-lg" required>
                </div>
                <div class="flex flex-col">
                    <label for="contraseña" class="mb-2 font-medium text-lg">Contraseña</label>
                    <input type="password" name="contraseña" id="contraseña"
                        class="p-2 rounded border border-gray-300 text-lg" required>
                </div>
                <div class="flex justify-between items-center mt-6">
                    <a href="{% url 'crear_cuenta_JM' %}"
                        class="bg-teal-500 text-white font-bold px-4 py-2 rounded text-lg">Crea una cuenta</a>
                    <button type="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-lg">Ingresar</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>