<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Perfil Mecánico</title>
</head>
<body class="bg-gray-100">
    <!-- Barra superior -->
    <div class="bg-gray-300 p-4 flex justify-between items-center">
        <a href="{% url 'index' %}" class="text-white bg-red-500 px-4 py-2 rounded shadow-md hover:bg-red-600 transition duration-300">Salir</a>
    </div>

    <!-- Contenido principal -->
    <div class="container mx-auto p-4">
        <div class="bg-gray-300 p-8 rounded-lg shadow-lg mb-6">
            <!-- Barra de navegación -->
            <div class="flex justify-around mb-6 text-xl">
                <a href="{% url 'mecanico' rut=mecanico.rut %}" class="text-gray-600">Incidencias</a>
                <a href="{% url 'perfil_mecanico' rut=mecanico.rut %}" class="text-black font-semibold">Perfil</a>
            </div>

            <form method="POST" action="{% url 'perfil_mecanico' rut=mecanico.rut %}">
                {% csrf_token %}
                <div class="bg-white p-6 rounded shadow-md">
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            <label class="font-medium">Nombre:</label>
                            <p>{{ mecanico.nombre }}</p>
                        </div>
                        <div>
                            <label class="font-medium">RUT:</label>
                            <p>{{ mecanico.rut }}</p>
                        </div>
                        <div class="flex items-center">
                            <label class="font-medium mr-2">Disponibilidad:</label>
                            <div class="{% if mecanico.disponibilidad %} bg-green-500 {% else %} bg-red-500 {% endif %} w-4 h-4 inline-block mr-2"></div>
                            <select name="disponibilidad" class="form-control p-2 rounded border border-gray-300 w-full">
                                <option value="Si" {% if mecanico.disponibilidad %}selected{% endif %}>Sí</option>
                                <option value="No" {% if not mecanico.disponibilidad %}selected{% endif %}>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="mt-6 flex justify-end">
                        <button type="submit" class="bg-teal-500 text-white font-bold  px-6 py-3 rounded shadow-md hover:bg-teal-600 transition duration-300">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
